<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/style.css" type="text/css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Blog Pessoal</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/about">Sobre Nós</a>
                <a href="/contact">Contato</a>
            </nav>
            <button onclick ="location.href='/login'">login</</button>
        </div>
    </header>
    <div class="login-container">
        <h1>Login</h1>
        <form id="login-form">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
